h1 {
	text-align: center;
}
svg {
	border: 1px solid silver;
	display: block;
	margin: auto;
}
#drawing {
	margin-top: 20px;
}

/* graph */
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.graphnode text {
	font-size: 10px;
}

/* tree */
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}	

/* controls */
#controls {
	border: 1px solid silver;
	border-radius: 5px;
	box-shadow: 5px 5px 5px silver;
	padding: 5px;
	margin-bottom: 20px;
}
#gridbox {
	border-radius: 5px;
	box-shadow: 5px 5px 5px silver;
}
.control_box {
	display: inline-block;
	margin-right: 50px;
}
#main_box {
	float: right;
}
#error {
    background: red;
    padding: 3px;
}
#warning {
    background: #f9c144;
    padding: 3px;
}

#main_menu {
	width: 500px;
	margin: 30px auto;
	border: 2px solid silver;
	border-radius: 15px;
	box-shadow: 5px 5px 5px silver;
	padding: 20px 10px;
}
#main_menu h3, #main_menu h2{
	text-align: center;
}
#main_menu h3 a{
	color: black;
}

#legend {
    text-align: center;
    margin-bottom: 5px;
}
#legend-bar {
	display: inline-block;
	width: 100px;
	height: 20px;
	background: linear-gradient(90deg, yellow, red);
	vertical-align: middle;
}
#data_container {
	width: 230px;
    height: 300px;
    border: 1px solid silver;
}
#stat_buttons {
	margin: 30px 300px;
}
#stat_buttons button {
	width: 250px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#chart_container {
	width:800px;
	height:350px;
	margin:20px auto;
	border:1px solid #c0c0c0;
}
#stat_table_wrapper {
	width: 800px;
	margin: auto;
}